
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
    <div class="column">
    <div class="card">
        <img src="{{trainer.image.url}}" width="45">
            <div class="container2">
            <h2>{{trainer.first_name}}</h2>
            <h2>{{trainer.last_name}}</h2>
            <h2>{{trainer.phone_number}}</h2>
            <h2>{{trainer.age}}</h2>
             </div>
          </div>
         </div>
    <style>
      img{
          text-align: center;
          width: 325px;
          height: 300px;
      }
 .card {
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  width: 25%;
  background-color:white;
  height: 100%;
  margin-right: 45px;
  margin: 30px 15px 0;
  font-weight: 300;
  margin-left: 45px;
  border: 25px solid rgb(10, 2, 10);
  border-radius: 2%;
}
h2{
    text-align: center;
    font-size: 28px;
}
    </style>
</body>
</html>